<!DOCTYPE html>
<html>
    <head>
        <title>Politics</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css"></link>
        <link rel="stylesheet" href="/stylesheets/main.css"></link>
    </head>
    <body>