<!DOCTYPE html>
<html>
    <head>
        <title>Politics</title>
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="semantic/dist/semantic.js"></script>

        
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css"></link>
        <link rel="stylesheet" href="/stylesheets/animations.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>