<!DOCTYPE html>
<html>
    <head>
        <title>Politics</title>
        <script src="/scripts/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css"></link>
        <link rel="stylesheet" href="/stylesheets/main.css"></link>
        <link rel="stylesheet" href="/stylesheets/animations.css"></link>
    </head>
    <body>