<% include ./partials/header %>



<div class="ui inverted secondary pointing menu borderless top fixed">
    <div class="ui inverted segment">
        <a class="item active" href="/">
              Home
        </a>
        <a class="item" href="/stats">
          Stats
        </a>
        <a class="item" href="/api">
          API
        </a>
    </div>
</div>
    
<div class="ui inverted vertical masthead center aligned segment full-screen">     
    <div class="ui text container animated-fadein">
        <a href='/stats/'>
            <img src="/assets/flag.svg">
        </a>
        <h1 class="ui inverted header">
            Interested in UK Politics?
        </h1>
        <a href='/stats/'>
            <div class="ui huge primary button">
                See how people vote<i class="right arrow icon"></i>
            </div>
        </a>
    </div>
</div>

<% include ./partials/footer %>