<% include ./partials/header %>

 <div class="ui inverted vertical masthead center aligned segment">
<div class="ui text container">
    <a href='/stats/'>
        <img src="/assets/flag.svg">
    </a>
    <h1 class="ui inverted header">
        Interested in UK Politics?
    </h1>
    <a href='/stats/'>
        <div class="ui huge primary button">
            See how people have voted<i class="right arrow icon"></i>
        </div>
    </a>
</div>
</div>

<% include ./partials/footer %>