
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeOut {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  0% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutRight {
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  0% {
    opacity: 1;
    transform: none;
  }
}

.animated-fadein {
    animation: fadeIn 0.25s ease-in 0s 1;
}

.animated-fadeinup {
    animation: fadeInUp 0.25s ease-in 0s 1;
}

.animated-fadeinright {
    animation: fadeInRight 0.25s ease-in 0s 1;
}



.animated-fadeout {
    animation: fadeOut 0.25s ease-in 0s 1;
}

.animated-fadeoutup {
    animation: fadeOutUp 0.25s ease-in 0s 1;
}

.animated-fadeoutright {
    animation: fadeOutRight 0.25s ease-in 0s 1;
}

