.masthead.segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-screen {
    height: 100%;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stats-container {
    background-color: #3D3E3F;
    padding-top: 10px;
    border: white solid 1px; 
    border-radius:5px;
}

.api-tut {
    background-color: #3D3E3F;
    border: white solid 1px; 
}